@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide spin buttons on number inputs and disable scroll-to-adjust */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
